<!DOCTYPE html>
<html>

<head>
  <title>Simple Group Chat on Node.js</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    form {
      background: #fff;
      padding: 3px;
      width: 100%;
      border-color: #000;
      border-top-style: solid;
      border-top-width: 1px;
    }

    form input {
      border-style: solid;
      border-width: 1px;
      padding: 10px;
      width: 85%;
      margin-right: .5%;
    }

    form button {
      width: 9%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
      margin-left: 2%;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      /*display: flex;
                     flex-direction: row;
                     align-items: center;  */
      padding-top: 5px;
      padding-bottom: 5px;
    }

    /* #messages li:nth-child(odd) { background: #eee; }   */
  </style>
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
</head>

<body style="height: 100%;  min-height: 100% !important;">

  <div style="height: 30px; position: fixed;  width: 100%">
    <input id="username" style="height: 90%;" placeholder="user name"/>
    <label><input id="isExpert" type="checkbox" value="yes"/> Is Expert: </label>
    <button id="changeUsernameBtn">Update user</button>
  </div>

  <div id="messagesContainer" style="width: 100%; overflow-y: scroll; position: fixed; top:30px; bottom: 60px">
    <ul id="messages"></ul>
  </div>

  <div style=" width: 100%; height: 50px; position: fixed;  bottom: 0;">
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
    </form>
  </div>

  <script>
    var socket = io.connect('<%= backEndUrl %>');

    //change username
    $("#changeUsernameBtn").click(
      () => {
        username = $("#username").val();
        isExpert = $("#isExpert").prop("checked");


        Cookies.set('user_name', username);
        Cookies.set('isExpert', isExpert);

        socket.emit('username', {username:username , isExpert:isExpert});
        // if  (!isExpert)
        //   socket.emit("chat_message", "<strong>Hidden:</strong> init conversation");
      }
    )

    // submit text message without reload/refresh the page
    $('form').submit(function (e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('chat_message', $('#txt').val());
      $('#txt').val('');
      return false;
    });

    // append the chat text message
    socket.on('chat_message', function (msg) {

      addMessage(msg);

    });

    socket.on('notification', function (msg) {

      addMessage("<small><b>Notification: </b>" + msg + "</small>");

    });



    socket.on('disconnect', () => {
      console.log('socket disconnected');
      // socket.open();

     
    });

    socket.on('connect', () => {
      typing = false;
      console.log(socket.disconnected); // false
      socket.emit('username', {username:username , isExpert:isExpert});
    });



    // append text if someone is online
    socket.on('is_online', function (username) {

      addMessage(username);
      // $('#messages').append($('<li>').html(username));
    });

    var timer; 

    socket.on('typing', function (msg) {
      // typing = true;

      if (typing == false) {
        typing = true;
        addMessage('<img src="/static/spinner.svg"/>', 'typing');
        //setTimeout(hideTyping, 2000);
        timer = new Timer(hideTyping, 800);
        
        return; 

      }

      if (typing == true ){
        timer.add(1800);
      }

    })

  
  socket.on("cls", function(){
    document.getElementById("messages").innerHTML = "";
  })

    //set default username
    var username = "user1";
    var isExpert = false;

    var typing = false;

    if (Cookies.get('user_name')) {
      username = Cookies.get('user_name')
    } else {
      Cookies.set('user_name', username)
    }

    if (Cookies.get("isExpert") === "true"){
      isExpert = true;
    }

    Cookies.set('isExpert', isExpert);


    $("#username").val(username);

    $("#isExpert").prop("checked", isExpert);

    // set sendButton
    function sendButton(text, buttonReply=undefined) {
      if (buttonReply !== undefined)
        addMessage("<b>"+username+":</b>" + buttonReply);

      socket.emit('chat_message', text);
    }

    function hideTyping() {
      if (typing == true) {
        typing = false;
        var elem = document.getElementById('typing');
        elem.parentNode.removeChild(elem);
      }

    }

    function addMessage(msg, id = null) {
      var element = document.getElementById("messagesContainer");
      let scrolled = true

      if (element.scrollHeight - element.clientHeight <= element.scrollTop + 1) {
        scrolled = false
      } else {
        scrolled = true
      }

      if (typing && document.getElementById('typing') != null ){
        
       
        $('#messages').append($('<li>').html(msg).attr('id', id));
        
          
        $('#typing').insertAfter($('#messages li:last'));
       
        
      }
      else{
      $('#messages').append($('<li>').html(msg).attr('id', id));
      }
      // if (id != null) {
      //   e.attr('id', id )
      // }

      if (!scrolled) {
        // var element = document.getElementById("messagesContainer");
        element.scrollTop = element.scrollHeight;
      }
    }

    function Timer(callback, time) {
      this.setTimeout(callback, time);
    }

    Timer.prototype.setTimeout = function (callback, time) {
      var self = this;
      if (this.timer) {
        clearTimeout(this.timer);
      }
      this.finished = false;
      this.callback = callback;
      this.time = time;
      this.timer = setTimeout(function () {
        self.finished = true;
        callback();
      }, time);
      this.start = Date.now();
    }

    Timer.prototype.add = function (time) {
      if (!this.finished) {
        // add time to time left
        time = this.time - (Date.now() - this.start) + time;
        this.setTimeout(this.callback, time);
      }
    }
  </script>
</body>

</html>
